<div class="container">
  <h1>Motor Adt</h1>
  <div class="row">
    <a [routerLink]="['/adt-create']" class="btn btn-default pull-right">Novo</a>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Proposta</th>
        <th>Cupom</th>
        <th>Empresa</th>
        <th>Modalidade</th>
        <th>Pagamento</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let adt of motorAdt">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
